@import 'tailwindcss';

@theme {
    --font-sans: InterVariable, sans-serif;
}

html,
body {
    margin: 0;
}

.link {
    @apply underline;
    @apply decoration-gray-400;
    @apply decoration-dotted;
    @apply underline-offset-4;
    @apply transition-colors;

    &:link {
    }
    &:visited {
        @apply text-gray-800;
    }
    &:hover,
    &:focus {
        @apply text-blue-900;
        @apply decoration-gray-500;
    }
}

.btn-primary {
    @apply inline-block;
    @apply rounded-sm;
    @apply border;
    @apply border-indigo-600;
    @apply bg-indigo-600;
    @apply px-12;
    @apply py-3;
    @apply text-sm;
    @apply font-medium;
    @apply text-white;
    @apply cursor-pointer;
    @apply hover:bg-indigo-900;
    @apply focus:ring-3;
    @apply focus:outline-hidden;
    @apply disabled:cursor-auto;
    @apply disabled:bg-gray-300;
    @apply disabled:border-gray-300;
    @apply disabled:text-gray-500;
}

#live-view p {
    position: absolute;
    padding: 5px;
    background-color: rgba(255, 111, 0, 0.85);
    color: #fff;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
    font-size: 12px;
}
.highlighter {
    background: rgba(0, 255, 0, 0.25);
    border: 1px dashed #fff;
    z-index: 1;
    position: absolute;
}
